<script>
  function code_toggle() {
    if (code_shown){
      $('div.input').hide('500');
      $('#toggleButton').val('Show Code')
    } else {
      $('div.input').show('500');
      $('#toggleButton').val('Hide Code')
    }
    code_shown = !code_shown
  }

  $( document ).ready(function(){
    code_shown=false;
    $('div.input').hide()
  });
</script>
<form action="javascript:code_toggle()"><input type="submit" id="toggleButton" value="Show Code"></form>

In [13]:
%matplotlib inline
import matplotlib as plt
import pandas as pd
import numpy as np
import seaborn as sns
import scipy as spy
from sklearn.model_selection import train_test_split

conf = pd.read_csv("TeamConferences.csv")
teams = pd.read_csv("Teams.csv")
coaches = pd.read_csv("TeamCoaches.csv")


'''


# convert and remove string characters from seed values

seedResults <- merge(results, rename(seeds, WTeamID = TeamID, WSeed = Seed), by = c("WTeamID", "Season")) %>%
               merge( rename(seeds, LTeamID = TeamID, LSeed = Seed), by = c("LTeamID", "Season")) %>%
               na.omit()
# wins by team
byTeam <- results%>% group_by(WTeamID)
teamWins <- byTeam %>% summarise(
  totalWins = n())

# wins by seeds
seedWins <- seedResults%>% group_by(WSeed) %>% summarise(totalWins = n())
seedLoss <- seedResults%>% group_by(LSeed) %>% summarise(totalLosses = n())

bySeed <- merge(seedWins, seedLoss, by.x = "WSeed", by.y = "LSeed")
# EWins is yearly expected wins per team by their seed. --> totalWins / 4 * number of seasons   (4 due to 4 different seeds every year)
bySeed <- mutate(bySeed, WPct = totalWins/(totalWins +totalLosses), EWins = totalWins/(4*n_distinct(seedResults$Season))) %>%
          round(digits = 3)
'''

allTeams = coaches.merge(teams[["TeamID", "TeamName"]], on="TeamID").merge(conf, on=["Season", "TeamID"])
allTeams.head()

,Season,TeamID,FirstDayNum,LastDayNum,CoachName,TeamName,ConfAbbrev
0,1985,1102,0,154,reggie_minton,Air Force,wac
1,1986,1102,0,154,reggie_minton,Air Force,wac
2,1987,1102,0,154,reggie_minton,Air Force,wac
3,1988,1102,0,154,reggie_minton,Air Force,wac
4,1989,1102,0,154,reggie_minton,Air Force,wac

In [26]:
results = pd.read_csv("NCAATourneyCompactResults.csv")
seeds = pd.read_csv("NCAATourneySeeds.csv")

# convert and remove string characters from seed values
def seed_to_int(seed):
    #Get just the digits from the seeding. Return as int
    s_int = int(seed[1:3])
    return s_int
seeds['seed_int'] = seeds.Seed.apply(seed_to_int)
seeds.drop(labels=['Seed'], inplace=True, axis=1) # This is the string label

seedResults =  results.merge(seeds, right_on=["TeamID","Season"], left_on= ["WTeamID","Season"]).merge(seeds, right_on=["TeamID","Season"], left_on= ["LTeamID","Season"])
seedResults.drop(["TeamID_x", "TeamID_y"],axis = 1, inplace=True)
seedResults.rename(index=str, columns={"seed_int_x":"WSeed", "seed_int_y":"LSeed"}, inplace=True)
seedResults.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT  WSeed  LSeed
0    1985     136     1116      63     1234      54    N      0      9      8
1    1985     136     1120      59     1345      58    N      0     11      6
2    1985     138     1120      66     1242      64    N      0     11      3
3    1985     136     1207      68     1250      43    N      0      1     16
4    1985     138     1207      63     1396      46    N      0      1      8

In [28]:
byTeam = results.groupby("WTeamID").count()
byTeam.head()

         Season  DayNum  WScore  LTeamID  LScore  WLoc  NumOT
WTeamID
1104         18      18      18       18      18    18     18
1107          1       1       1        1       1     1      1
1112         54      54      54       54      54    54     54
1113          5       5       5        5       5     5      5
1114          2       2       2        2       2     2      2